<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="runWithOnlineData" value="false" />
    <add key="samplaDataFileName" value="sample.txt" />
    <add key="forecastUrl" value="http://api.openweathermap.org/data/2.5/forecast" />
    <add key="budapestID" value="id=3054643" />
    <add key="appID" value="APPID=dcf69f68d9f64a7ea7eade38f2e3c20c" />
  </appSettings>
</configuration>